.gitbook-link {
    display: none !important;
}

.pk-btn {
    display: inline-block;
    padding: 5px;
    width: 120px;
    margin: 5px;
    border: solid 1px #000;
    border-radius: 3px;
    transition: 0.2s;
    color: #000 !important;
    text-decoration: none !important;
    background-color: #FFF !important;
}

.pk-btn:hover {
    background-color: rgba(220, 220, 220, 1) !important;
    text-decoration: none !important;
}